body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#svg {
    position: absolute;
}

#cnv {
    position: relative;    
    cursor: url(../images/crosshaircyan.png), auto;

}

#score-container {    
    position:absolute;
    display:inline-block;
    right:1%;
    top: 1%;
    width:200px;       
    background-color: transparent;
    font-family:'Comic Sans MS';
    text-align:center;
    color:white;
}

